body {
  margin: 0;
  padding-top: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #1d1d1d;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

hr {
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__wrap {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info-sign-in {
  padding: 14px 20px;
  background-color: unset;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  color: #1d1d1d;
}

.header__info-sign-in:hover {
  background-color: #f4f4f4;
}

.header__info-basket {
  margin-left: 27px;
}

.main__search-menu {
  padding: 56px 0px;
}

.main__search-menu-input {
  width: 100%;
  height: 24px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgb(117, 117, 117, 0.3);
  font-size: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.main__search-menu-input:focus {
  outline: unset;
}

.main__menu {
  margin-bottom: 68px;
}

.main__menu-title {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 22px;
}

.main__menu-restaurants {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__menu-restaurants-product {
  margin-bottom: 16px;
}

.main__menu-restaurants_img img {
  width: 100%;
  background-size: cover;
}

.main__menu-restaurants-info {
  margin-top: 16px;
}

.main__menu-restaurants-info a {
  text-decoration: none;
  color: #1d1d1d;
}

.main__menu-restaurants-info a:hover {
  color: #82c281;
}

.main__menu-restaurants-info h2 {
  font-weight: 400;
  font-size: 16px;
}

.main__menu-restaurants-info-kitchen {
  font-size: 14px;
  color: #626262;
}

.footer {
  background-color: #262626;
  color: #fff;
}

.footer__logo {
  width: 100%;
  height: 116px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.footer__logo a {
  width: 191px;
  height: 20px;
}

.footer__info {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.footer__info-contacts-dropdown {
  width: 227px;
  height: 40px;
  margin-bottom: 32px;
  padding-right: 8px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 2px;
}

.footer__info-contacts-dropdown:hover {
  box-shadow: 0 0 3px #fff;
}

.footer__info-contacts-dropdown select {
  width: 100%;
  height: 40px;
  margin-left: 17px;
  background: url("../icons/arrow-back-icon.svg") no-repeat right #3b3b3b;
  outline: none;
  appearance: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.footer__info-contacts-hashtag {
  margin-bottom: 20px;
}

.footer__info-contacts-hashtag_green {
  margin: 0;
  font-size: 16px;
  color: #49a144;
}

.footer__info-contacts-hashtag_white {
  color: #fff;
}

.footer__info-social-links {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.footer__info-block-group li + li {
  margin-top: 23px;
}

.footer__info-block-group a {
  text-decoration: none;
  color: #fff;
}

.footer__info-block-group a:hover {
  color: #82c281;
}

.footer__applications {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  column-gap: 4.3%;
  border-top: 1px solid rgb(255, 255, 255, 0.4);
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}

.footer__copyright {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 24px;
  white-space: nowrap;
  font-size: 11px;
}

.footer__copyright a {
  text-decoration: none;
  color: #fff;
}

.footer__copyright a:hover {
  color: #82c281;
}

.button-arrow-up {
  position: fixed;
  right: 16px;
  bottom: 24px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59bd5a;
  border-radius: 2px;
}

/* Restaurant - Pushkin */

.banner {
  width: 100%;
  height: 364px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background-img.svg");
}

.banner__wrap {
  height: 364px;
  align-items: center;
}

.banner__card {
  padding: 38px;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.banner__card h1 {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 36px;
  white-space: nowrap;
  color: #1d1d1d;
}

.banner__card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__card-text-kitchen {
  margin: 0;
  font-size: 14px;
  color: #626262;
}

.banner__card-text-time {
  width: 100px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  border-radius: 16px;
}

.banner__card-text-time p {
  color: #fff;
}

.header__restaurant {
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.header__restaurant-nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #fff;
}

.header__restaurant-nav a {
  text-decoration: none;
  font-size: 16px;
  color: #626262;
}

.header__restaurant-nav a:hover {
  color: #327430;
}

.snacks {
  margin-top: 56px;
  margin-bottom: 80px;
}

.snacks__title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 22px;
  color: #1d1d1d;
}

.snacks-card {
  width: 100%;
  margin-top: -49px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.snacks-card li {
  margin-top: 49px;
}

.snacks-card__item {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.snacks-card__item:hover {
  background-color: rgb(117, 117, 117, 0.04);
  cursor: pointer;
}

.snacks-card__item-info {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snacks-card__item-info h3 {
  font-weight: 400;
  font-size: 16px;
  color: #1d1d1d;
}

.snacks-card__item-info-ingredients {
  position: absolute;
  margin-top: 28px;
  color: #626262;
}

.snacks-card__item-info p {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  color: #1d1d1d;
}

.snacks-card__item_img {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: end;
}

.snacks-card__item_img img {
  height: 100%;
  width: auto;
}

/* Медиазапросы */

@media only screen and (max-width: 767.5px) {
  .footer__info-block-group {
    margin-bottom: 23px;
  }
}

@media only screen and (max-width: 320px) {
  .footer__applications {
    flex-direction: column;
    row-gap: 8px;
  }
}

@media only screen and (max-width: 767.5px) {
  .footer__info-contacts {
    margin-bottom: 32px;
  }
  .button-arrow-up {
    width: 64px;
    height: 64px;
  }
}

@media only screen and (max-width: 575.5px) {
  .banner {
    height: 255px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/background-xs-img.svg");
  }
  .banner__wrap {
    height: 364px;
    align-items: flex-end;
  }
  .banner__card {
    padding: 24px 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner__card h1 {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .banner__card-text {
    flex-direction: column;
  }
  .banner__card-text-kitchen {
    padding-bottom: 16px;
  }
}

@media only screen and (min-width: 767.5px) and (max-width: 1023.5px) {
  .banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/background-md-img.svg");
  }
  .banner__card {
    padding: 38px 52px 38px 48px;
  }
}

@media only screen and (max-width: 991.5px) {
  .banner__card-text-time {
    width: 94px;
  }
}

@media only screen and (max-width: 767.5px) {
  .header__restaurant {
    display: none;
  }
}

@media only screen and (max-width: 324.5px) {
  .snacks {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .snacks__title {
    text-align: center;
    margin-bottom: 12px;
  }
  hr {
    margin-right: 45%;
    margin-bottom: 43px;
    margin-left: 45%;
    visibility: visible;
    text-align: center;
    border: none;
    border-bottom: 1px solid #757575;
  }
  .snacks-card {
    margin-top: 0;
  }
  .snacks-card li {
    margin-top: 0;
  }
  .snacks-card__item {
    height: 102px;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  }
  .snacks-card__item-info {
    padding: 0 0 15px 0;
  }
  .snacks-card__item-info h3 {
    font-size: 14px;
  }
  .snacks-card__item-info-ingredients {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 324.5px) and (max-width: 575.5px) {
  .snacks {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .snacks__title {
    margin-bottom: 12px;
    text-align: center;
  }
  hr {
    margin-right: 45%;
    margin-bottom: 43px;
    margin-left: 45%;
    visibility: visible;
    text-align: center;
    border: none;
    border-bottom: 1px solid #757575;
  }
  .snacks-card {
    margin-top: 0;
  }
  .snacks-card li {
    margin-top: 0;
  }
  .snacks-card__item {
    height: 102px;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  }
  .snacks-card__item-info {
    padding: 0 0 15px 0;
  }
  .snacks-card__item-info h3 {
    font-size: 14px;
  }
  .snacks-card__item-info-ingredients {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 767.5px) and (max-width: 1023.5px) {
  .snacks {
    margin-bottom: 48px;
  }
  .snacks-card {
    margin-top: -32px;
  }
  .snacks-card li {
    margin-top: 32px;
  }
}
